@import 'tailwindcss';

::selection {
  background-color: #2563eb;
  color: #fefefe;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

html {
  min-width: 360px;
}

.title {
  text-wrap: balance;
}

/* Tablas de transiciones en módulos futuros */
table {
  display: block;
  max-width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}

input[type='text'],
input[type='email'],
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
